body {
    background: #ccc;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 1200px;
    overflow: hidden;
    background: rgb(211, 211, 211);
    margin: 0 auto;
    height: 100%;
}

.widget-wrapper {
    width: 100%;
    overflow: hidden;
}

/* Form Styles */

form.adding-form, .profile-list {
    width: 800px;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0 auto 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.adding-form .row-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

.adding-form .row-item.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adding-form .row-item.buttons button {
    background: rgba(223, 71, 71, 0.5);
    min-width: 200px;
}

.adding-form .row-item input, textarea, button {
    border: none;
    border-radius: 6px;
    background: #eeeeee;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 6px 4px;
}

.adding-form .row-item input[type="submit"], button {
    background: rgba(49, 196, 196, 0.5);
    font-weight: bold;
    padding: 10px 36px;
    min-width: 365px;
}

/* Profile list styles */

.profile-list table {
    width: 100%;
    vertical-align: center;
    border-collapse: collapse;
}

.profile-list table tr.table-row {
    border-bottom: 1px #ccc solid;
}
.profile-list table tr.table-row td {
    border-right: 1px #ccc solid;
    text-align: center;
}

.profile-list table tr.table-row td:last-child {
    border-right: none;
}

.profile-list table tr.table-row td a.remove-item {
    text-decoration: none;
    color: #000;
    display: block;
    box-shadow: 0px 1px 5px rgba(116, 115, 115, 0.2);
}
.profile-list table tr.table-row td a.remove-item:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}